@import url('<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Azeret Mono", monospace;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    margin: 50px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-buttons button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.nav-buttons button:hover {
    background-color: #e9e9e9;
}

/* ==================================================================== */
