@import url('<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Azeret Mono", monospace;
}
.navbar {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    margin: 50px 300px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-buttons button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.nav-buttons button:hover {
    background-color: #e9e9e9;
}

/* ==================================================================== */

.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    border: 2px solid white;
    min-height: 600px;
    margin-top: 20px;
    background-image: url("/assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 14px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    align-items: center;
}
.banner-content img{
    margin-bottom: 30px;
}

.banner-btn{
    margin: 30px;
    width: 208px;
    height: 66px;
    padding: 10px 20px;
    background: rgb(13, 19, 33);
    color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* <!-- ========================================== Banner ======================================= --> */
